.edit-caja form {
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-caja form div {
    display: flex;
    flex-direction: row;
}


#guardarCambios {
    margin-top: 20px;
    border-radius: 1em;
    background: #CC1414;
    color: white;
}

.edit-caja {
    border-radius: 2em;
    border: 1px solid rgb(207, 197, 197);
    width: 40%;
    margin: 0px auto;
    margin-top: 150px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(207, 197, 197);
}


#oldPassword {
    margin-bottom: 50px;
}

#oldPassword,
#newPassword,
#confirmPassword {
    text-align: center;
    border-radius: 1em;
    background: white;
    border: 0.2px solid rgb(194, 188, 188);
}

.hideshow {
    border-radius: 1em;
    height: 44px;
    width: 50px;
    background: white;
    border: 0.2px solid rgb(194, 188, 188);
}